.containerNewsletter{
    flex-direction: row;
    padding: 2rem;
    .containerImage{
        .imageMobile{
            display: none;
        }
        .imageDesktop{
            display: block;
        }
    }
}